body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

p {
    text-align: center;
    color: #555;
}

.numbers-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 colunas */
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

.number-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.number-item:hover {
    background-color: #e0e0e0; /* Efeito hover */
}

#reservationForm {
    margin-top: 20px;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.reserved {
    background-color: orange; /* Cor para números reservados */
    pointer-events: none; /* Desativa o clique em números reservados */
    opacity: 0.6; /* Altera a opacidade dos números reservados */
}
